<select class="custom-select" [(ngModel)]="dateFilterType" (ngModelChange)="onDatingSelect($event)">
    <option value="0">--Anytime--</option>
    <option *ngFor='let obj of DatingDict; let i=index;' [value]='obj.value'>
        {{obj.key}}
    </option>
</select>
<div class='pt-3' *ngIf='showStartDate'>
    <label for="startDate">From</label>
    <div class="row input-group">
        <input class="form-control" placeholder="YYYY-MM-DD" name="dp" [(ngModel)]="startDate"
            (ngModelChange)="sendData($event);" ngbDatepicker #d2="ngbDatepicker" id="startDate">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button"><span
                    class="fa fa-calendar"></span></button>
        </div>
    </div>
</div>
<div class='pt-3' *ngIf='showEndDate'>
    <label for="endDate">Till</label>
    <div class="row input-group">
        <input class="form-control" placeholder="YYYY-MM-DD" name="dp" [(ngModel)]="endDate"
            (ngModelChange)="sendData($event);" ngbDatepicker #d="ngbDatepicker" id="endDate">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle();" type="button"><span
                    class="fa fa-calendar"></span></button>
        </div>
    </div>
</div>