<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5>Add Article</h5>
    </div>
    <div class="card-body tab2-card">
      <form [formGroup]="articleForm" (ngSubmit)="onSubmit()" class="needs-validation" novalidate="">
        <div class="form-group row">
          <app-text-input class="col-12" formControlName="title" [type]="'text'" [label]="'Title'">
          </app-text-input>
        </div>
        <div class="pull-right">
          <button [disabled]="articleForm.invalid" type="submit" class="btn btn-primary">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>